<!--The content below is only a placeholder and can be replaced.-->

<!-- 放一个工具条 -->
<!-- 图标 ----- 空余 ------- 个人头像 -->
<md-toolbar color="primary">
  <span><a [routerLink]="['/']"><md-icon>home</md-icon> 风雨穿行</a></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <!-- 用户头像(详情,退出登录), 登录/注册 -->
  <!-- 用户头像 -->

  <span (click)="back()">返回</span>

  <span *ngIf="myself">

    <!-- 这里有一个下拉菜单 -->
    <button md-button [mdMenuTriggerFor]="menu">
      <img class="toolbar-img" src="{{myself.avatar}}">

    </button>

    <md-menu #menu="mdMenu">
      <button md-menu-item [routerLink]="['/#mine']">
          我的
      </button>
      <button md-menu-item>新文章</button>
      <button md-menu-item (click)="logOut()" class="inline-button">LogOut</button>
      <!--<button md-menu-item>Item 2</button>-->
    </md-menu>

  </span>

  <!-- 登录/注册 -->
  <span *ngIf="!myself">

    <!-- 跳转到登录页面 -->
    <a [routerLink]="['/#login']">登录</a>

  </span>

</md-toolbar>


<router-outlet></router-outlet>

