.example-fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar-img {
  display: inline-block;

  height: 35px;
  border-radius: 100%;
  vertical-align: middle;

}

.inline-button {
  display: inline-block;
}

.new-post-message {
  text-align: center;
}


