<!--The content below is only a placeholder and can be replaced.-->

<!-- 放一个工具条 -->
<!-- 图标 ----- 空余 ------- 个人头像 -->
<md-toolbar color="primary">
  <span><a [routerLink]="['/']"><md-icon>home</md-icon></a></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <!-- 图片我不知道怎么显示 -->
  <!--<img class="toolbar-img" src="http://o9hjg7h8u.bkt.clouddn.com/%E5%9B%BE%E6%A0%87.png">-->
  <span><a [routerLink]="['/user']">个人资料</a></span>
</md-toolbar>


<router-outlet>这里是路由到的页面,显示的内容.</router-outlet>


<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

</div>
<h2>Developing...</h2>
<md-checkbox>Check me!</md-checkbox>

