<!-- 这是登录页面 -->
<div class="account-login">

  <h3>登录</h3>

  <!-- 标题 -->
  <!--name="title" [formControl]="formC" required -->
  <md-input-container>
    <input mdInput placeholder="用户名" [(ngModel)]="acc.username"
           [formControl]="usernameFormControl" required>
    <md-error *ngIf="usernameFormControl.hasError('required')">
      用户名必填
    </md-error>
  </md-input-container>

  <!-- 密码 -->
  <md-input-container>
    <input mdInput type="password" placeholder="密码" [(ngModel)]="acc.password"
           name="password" [formControl]="passwordFormControl" required>
    <md-error *ngIf="passwordFormControl.hasError('required')">
      密码必填
    </md-error>
  </md-input-container>

  <!-- 登录 注册 -->
  <div class="account-login-button-group">
    <button md-button>
      <a [routerLink]="['/a_r/register']">注册</a>
    </button>
    <button md-button color="primary" (click)="login()" [disabled]="!(acc.password && acc.username)">
      登录
    </button>
  </div>


  <md-chip color="primary">{{loginMessage}}</md-chip>

</div>


