<!-- 文章详情页面
 内容为markdown纯文本, 需要渲染给用户
 -->

<!-- 回退按钮 -->

<div *ngIf="post" class="post-detailed">

  <!-- 文章标题 -->
  <div class="post-detailed-title">
    <h2>{{post.title}}</h2>
  </div>

  <!-- 文章下面的相关信息 -->
  <div class="post-detailed-info">
    <div class="post-detailed-info-avatar"><img src="{{post.user_info.avatar}}"></div>
    <div class="post-detailed-info-utime">{{post.utime}}</div>
    <div class="post-detailed-info-penname">{{post.user_info.penname}}</div>

    <!--  -->
    <div class="post-detailed-info-edit">编辑</div>
    <div class="post-detailed-info-publish">{{publishButtonContent}}</div>

  </div>


  <!-- 文章内容 markdown渲染出来的 -->
  <div [innerHTML]="htmlContent" class="post-detailed-content">

  </div>

</div>

