<!-- 这是文章的编辑页面 -->
<div class="post-edit">
  <h3>编辑内容</h3>

  <!-- 提交修改/取消修改 -->
  <div class="account-login-button-group">
    <button md-button>
      <a *ngIf="post" [routerLink]="['/a_r/post_detailed/', post.post_id]">取消</a>
    </button>
    <button md-button color="primary" (click)="ok()" [disabled]="!(content && title && abstract)">
      提交
    </button>
  </div>

  <md-chip color="primary" *ngIf="okMessage">{{okMessage}}</md-chip>

  <!-- 标题 -->
  <!--name="title" [formControl]="formC" required -->
  <md-input-container>
    <input mdInput placeholder="标题" [(ngModel)]="title">
    <!--<md-error *ngIf="titleFormControl.hasError('required')">-->
      <!--标题必填-->
    <!--</md-error>-->
  </md-input-container>

  <!-- 摘要 -->
  <md-input-container>
    <textarea mdTextareaAutosize mdInput placeholder="摘要" name="abstract"
              [(ngModel)]="abstract"></textarea>
    <!--<md-error *ngIf="abstractFormControl.hasError('required')">-->
      <!--摘要必填-->
    <!--</md-error>-->
  </md-input-container>

  <!-- 内容 -->
  <md-input-container>
    <textarea mdTextareaAutosize mdInput placeholder="内容" name="content"
              [(ngModel)]="content"></textarea>
    <!--<md-error *ngIf="contentFormControl.hasError('required')">-->
      <!--内容必填-->
    <!--</md-error>-->
  </md-input-container>


</div>
