.tools-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

/* 每一个tool */
.tools-list-item {
  margin: 0 20px 20px 0;
  float: left;
  text-align: center;
  width: 100px;
  overflow: hidden;
}

.tools-list-item:hover{
  cursor: pointer;
}

.tools-list-item img {
  width: 100%;
  border-radius: 5px;
}

.tools-list-item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
