<!-- 这是注册页面 -->
<div class="account-register">

  <h3>注册</h3>

  <!-- 标题 -->
  <!--name="title" [formControl]="formC" required -->
  <md-input-container>
    <input mdInput placeholder="用户名" [(ngModel)]="acc.username"
           [formControl]="usernameFormControl" required>
    <md-error *ngIf="usernameFormControl.hasError('required')">
      用户名必填
    </md-error>
    <md-error *ngIf="usernameFormControl.hasError('pattern')">
      用户名必须是英文字母或数字
    </md-error>
  </md-input-container>

  <!-- 密码 -->
  <md-input-container>
    <input mdInput type="password" placeholder="密码" [(ngModel)]="acc.password"
           name="password" [formControl]="passwordFormControl" required>
    <md-error *ngIf="passwordFormControl.hasError('required')">
      密码必填
    </md-error>
    <md-error *ngIf="passwordFormControl.hasError('pattern')">
      密码必须是英文字母或数字或标点符号, 且至少3位.
    </md-error>
  </md-input-container>

  <!-- 登录 注册 -->
  <div class="account-register-button-group">
    <button md-button color="primary" (click)="register()"
            [disabled]="!(usernameFormControl.status=='VALID' && passwordFormControl.status=='VALID')">
      注册
    </button>
  </div>

  <md-chip color="primary">{{registerMessage}}</md-chip>

</div>


