<!-- 这是登录页面 -->
<div class="account-register">

  <!--&lt;!&ndash; 标题 &ndash;&gt;-->
  <!--&lt;!&ndash;name="title" [formControl]="formC" required &ndash;&gt;-->
  <!--<md-input-container>-->
    <!--<input mdInput placeholder="标题" [(ngModel)]="title">-->
  <!--</md-input-container>-->

  <!--&lt;!&ndash; 摘要 &ndash;&gt;-->
  <!--<md-input-container>-->
    <!--<input mdInput placeholder="摘要" [(ngModel)]="abstract" name="abstract">-->
  <!--</md-input-container>-->

  <!--&lt;!&ndash; 内容 &ndash;&gt;-->
  <!--<md-input-container>-->
    <!--<textarea mdInput placeholder="内容" [(ngModel)]="content" name="content"></textarea>-->
  <!--</md-input-container>-->





</div>

